In [1]:
set = pd.Series([10,20,34])
set.describe

NameError: name 'pd' is not defined

# Import Series with the read_cvs Method

In [3]:
import pandas as pd

In [4]:
univ = pd.read_csv('D:/Jupyter/classroom/Universities.csv', usecols = ['Univ'], squeeze=True )
type(univ)
univ

0            Brown
1          CalTech
2              CMU
3         Columbia
4          Cornell
5        Dartmouth
6             Duke
7       Georgetown
8          Harvard
9     JohnsHopkins
10             MIT
11    Northwestern
12       NotreDame
13       PennState
14       Princeton
15          Purdue
16        Stanford
17        TexasA&M
18      UCBerkeley
19        UChicago
20       UMichigan
21           UPenn
22             UVA
23      UWisconsin
24            Yale
Name: Univ, dtype: object

In [5]:
univ = pd.read_csv('D:/Jupyter/classroom/Universities.csv')
type(univ)
univ

            Univ   SAT  Top10  Accept  SFRatio  Expenses  GradRate
0          Brown  1310     89      22       13     22704        94
1        CalTech  1415    100      25        6     63575        81
2            CMU  1260     62      59        9     25026        72
3       Columbia  1310     76      24       12     31510        88
4        Cornell  1280     83      33       13     21864        90
5      Dartmouth  1340     89      23       10     32162        95
6           Duke  1315     90      30       12     31585        95
7     Georgetown  1255     74      24       12     20126        92
8        Harvard  1400     91      14       11     39525        97
9   JohnsHopkins  1305     75      44        7     58691        87
10           MIT  1380     94      30       10     34870        91
11  Northwestern  1260     85      39       11     28052        89
12     NotreDame  1255     81      42       13     15122        94
13     PennState  1081     38      54       18     10185        80
14     Princeton  1375     91      14        8     30220        95
15        Purdue  1005     28      90       19      9066        69
16      Stanford  1360     90      20       12     36450        93
17      TexasA&M  1075     49      67       25      8704        67
18    UCBerkeley  1240     95      40       17     15140        78
19      UChicago  1290     75      50       13     38380        87
20     UMichigan  1180     65      68       16     15470        85
21         UPenn  1285     80      36       11     27553        90
22           UVA  1225     77      44       14     13349        92
23    UWisconsin  1085     40      69       15     11857        71
24          Yale  1375     95      19       11     43514        96

# Convert series to list and Dictinoary

In [ ]:
list(univ)

In [ ]:
dict(univ)

# Create A Series object from a python list

In [ ]:
ice_Cream = ["chocolate", "vanial", "strawberry"]
s = pd.Series(ice_Cream)
s

In [ ]:
type(s)

In [ ]:
fruits = ["Apple", "Banana", "Mango", "Grape", "Bluebarry"]
Weekday = ["Monday", "tuesday", "wednesday", "Thusday", "Friday"]

# pd.Series(fruits,Weekday)
pd.Series(data = fruits, index = Weekday )


# Create A Series object from a dictionary

In [ ]:
german_list = {"cat" : "katze",
              "dog" : "hund",
              "snake" : "schlange"}
gseries = pd.Series(german_list)
gseries

# Intro to Attribute

In [ ]:
gseries

In [ ]:
gseries.values

In [ ]:
gseries.index

In [ ]:
gseries.dtype

In [ ]:
gseries.is_unique

In [ ]:
univ.is_unique

In [ ]:
gseries.size

In [ ]:
univ.size

# The.head() and .tail() Methods

In [ ]:
univ.head()

In [ ]:
univ.tail(2)

# sorting

In [ ]:
univ.sort_index(inplace=False, ascending=False)

In [ ]:
univ.sort_values(inplace=False, ascending=True)

# Membership Text -in Keyword

In [ ]:
"cat" in gseries.values

In [ ]:
"cat" in gseries.index

# Extract value by index position

In [ ]:
univ[0]

In [ ]:
univ[[10,12,16]]

In [ ]:
univ[3:8]

In [ ]:
gseries['cat']

# The .get() method on series

In [ ]:
gseries.get(key = ["cat","dog"])

In [ ]:
gseries.get(key = "cat")

In [ ]:
gseries.get(key = "catt", default = "not in dict")

# math methods on series object

In [ ]:
univ.count()

In [ ]:
len(univ)

In [ ]:
set = pd.Series([10,20,34,20,10,34,99,33])

In [ ]:
set.sum()

In [ ]:
set.mean()

In [ ]:
set.min()

In [ ]:
set.max()

In [ ]:
set.median()

In [ ]:
set.mode()

In [ ]:
set.describe()

# the .idxmax() and .idxmin() methods

In [ ]:
univ.max()

In [ ]:
univ.min()

In [ ]:
set.idxmax()

In [ ]:
set.idxmin()

# The .value_counts() Method

In [ ]:
pokemon = pd.read_csv("D:/Jupyter/classroom/pokemon.csv", index_col = "Pokemon", squeeze= True)
pokemon.head(5)

In [ ]:
num = pokemon.value_counts()

In [ ]:
pokemon.count()

In [ ]:
pokemon.value_counts(ascending= True)

# The .apply() Method

In [ ]:
google = pd.read_csv("D:/Jupyter/classroom/google_stock_price.csv", squeeze=True)

In [ ]:
def Classify_perfomance(number):
    if number < 300:
        return "ok"
    elif number >= 300 and number < 650:
        return "satisfactor"
    else:
        return "Increadible"

In [ ]:
google.apply(Classify_perfomance).head()

# a. Read from clipbord

In [ ]:
nfl = pd.read_clipboard()
nfl

# b. read from cvs file

In [7]:
import pandas as pd
import numpy as np
from pandas import DataFrame,Series

In [ ]:
nfl_bkp = pd.read_csv("D:/Jupyter/classroom/nfl.csv")
nfl_bkp

In [ ]:
nfl_bkp.columns

In [ ]:
n=nfl_bkp

In [ ]:
pd.read_csv("D:/Jupyter/classroom/nfl.csv", header=None, nrows=2)

# create form a numpy array

In [ ]:
arr = np.array([[1,2,3],[4,5,6]])
arr

In [ ]:
df = DataFrame(arr, index=[1,2], columns=['c1','c2','c3'])
df

In [ ]:
dfm = DataFrame(np.arange(12).reshape(4,3), index=['1','2','3','4'], columns=['c1','c2','c3'])
dfm

# d. from dictionary

In [ ]:
dict_frame = DataFrame({'col 1':[1,2,3],'col 2':[11,12,13]})
dict_frame

# Selecting Data

In [ ]:
dict_frame.columns
df.columns

In [ ]:
nfl_bkp.Team

In [ ]:
n[['season','Pct.']]

In [ ]:
DataFrame(n, columns=['Team','season','Pct.'])

In [ ]:
n['Tied']>100

In [ ]:
n[n['Tied']>100]

# index object

In [ ]:
from numpy.random import random

In [ ]:
new_index = [10,20,30,40]

In [ ]:
n2=n.reindex(new_index)
n2

# Droping a raw or coloumn

In [ ]:
arr=np.array([[1,2,3],[4,5,6],[11,22,33]])
df = DataFrame(arr, index=[1,2,3],columns=['c1','c2','c3'])
df

In [ ]:
df.sum(axis=1)

In [ ]:
df.min(axis=1)

In [ ]:
df.max()

In [ ]:
df.idxmax()

In [ ]:
df.idxmin(axis=1)

In [ ]:
df.cumsum()

# Summary Statistic

In [ ]:
df.describe()

# Missing Data

In [ ]:
dframe = DataFrame([[1,2,3,4],[np.nan,5,6,4],[np.nan,np.nan,9,4],[np.nan,5,np.nan,5],[np.nan,np.nan,np.nan,1]])
dframe

In [ ]:
new_f = dframe.dropna()
new_f

In [ ]:
dframe.dropna(how='all')

In [ ]:
dframe.dropna(axis=1)

In [ ]:
dframe.dropna(thresh=2)

In [ ]:
dframe.fillna(1)

In [ ]:
dframe.fillna({0:10,1:100,2:200,3:300,4:400})

In [ ]:
dframe.fillna({1:300})

In [ ]:
dframe.fillna(0,inplace=True)
dframe

In [ ]:
dframe

# Merge Data

In [ ]:
dm1 = DataFrame({'key':['x-man','zebra','blue','yellow','pink'],'col_1': np.arange(5),'key2':['a','b','c','d','e']})
dm1

In [2]:
dm2 = DataFrame({'key':['Queen','zebra','blue','yellow'],'col_2': [1,2,3,4],'col_3':['a','c','c','c']})
dm2

NameError: name 'DataFrame' is not defined

In [ ]:
pd.merge(dm1,dm2, on='key')

In [ ]:
pd.merge(dm1,dm2, on='key', how='left')

In [ ]:
pd.merge(dm2,dm1, on='key', how='left')

In [ ]:
pd.merge(dm2,dm1, on='key', how='right')

In [ ]:
pd.merge(dm1,dm2, on='key', how='outer', sort='True')

# Handling duplicates

In [ ]:
ddup = DataFrame({'col_1':['a','a','b','b','b'], 'col2':[2,2,2,3,3]})
ddup

In [ ]:
ddup.duplicated()

In [ ]:
ddup.drop_duplicates()

In [ ]:
ddup.drop_duplicates(subset=['col_1'])

# Mapping

In [8]:
dmap = DataFrame({'Name':['Nil','pk','prijesh','hardik','akash'],'funds':[100,200,300,400,500]})
dmap

      Name  funds
0      Nil    100
1       pk    200
2  prijesh    300
3   hardik    400
4    akash    500

In [9]:
surname = {'pk':'jetani','prijesh':'dhola','Nil':'devani','hardik':'jetani','akash':'jogi'}
dmap['surname'] = dmap['Name'].map(surname)
dmap

      Name  funds surname
0      Nil    100  devani
1       pk    200  jetani
2  prijesh    300   dhola
3   hardik    400  jetani
4    akash    500    jogi

# Group by

In [10]:
dmp = pd.read_csv('D:/Jupyter/classroom/nba.csv')
dmp

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
grp = dmp.groupby('Age')

In [12]:
for age,group in grp:
    print(age,group[['Name','Position','Age']])

19.0               Name Position   Age
122   Devin Booker       SG  19.0
226  Rashad Vaughn       SG  19.0
20.0                    Name Position   Age
13          James Young       SG  20.0
40   Kristaps Porzingis       PF  20.0
56        Jahlil Okafor        C  20.0
60       Christian Wood       PF  20.0
62        Bruno Caboclo       SF  20.0
85         Kevon Looney       SF  20.0
116    D'Angelo Russell       PG  20.0
192     Stanley Johnson       SF  20.0
208        Myles Turner       PF  20.0
352     Justise Winslow       SF  20.0
356        Aaron Gordon       PF  20.0
377     Kelly Oubre Jr.       SF  20.0
393     Emmanuel Mudiay       PG  20.0
401          Tyus Jones       PG  20.0
410  Karl-Anthony Towns        C  20.0
427     Cliff Alexander       PF  20.0
441         Noah Vonleh       PF  20.0
445          Dante Exum       PG  20.0
452          Trey Lyles       PF  20.0
21.0                         Name Position   Age
6              Jordan Mickey       PF  21.0
18   Rondae Hollis-Jefferson       SG  21.0
24          Chris McCullough       PF  21.0
115            Julius Randle       PF  21.0
125           Archie Goodwin       SG  21.0
163             Bobby Portis       PF  21.0
211    Giannis Antetokounmpo       SF  21.0
215              Tyler Ennis       PG  21.0
217            Damien Inglis       SF  21.0
223            Jabari Parker       PF  21.0
257             Jordan Adams       SG  21.0
328           Aaron Harrison       SG  21.0
357            Mario Hezonja       SG  21.0
389              Gary Harris       SG  21.0
390             Nikola Jokic        C  21.0
395             Jusuf Nurkic        C  21.0
402              Zach LaVine       PG  21.0
411           Andrew Wiggins       SG  21.0
422            Cameron Payne       PG  21.0
22.0                        Name Position   Age
3               R.J. Hunter       SG  22.0
8              Terry Rozier       PG  22.0
9              Marcus Smart       PG  22.0
20           Sergey Karasev       SG  22.0
49              Joel Embiid        C  22.0
50             Jerami Grant       SF  22.0
51           Richaun Holmes       PF  22.0
55             Nerlens Noel       PF  22.0
58             Nik Stauskas       SG  22.0
128                Alex Len        C  22.0
134             T.J. Warren       SF  22.0
141     Willie Cauley-Stein        C  22.0
188          Andre Drummond        C  22.0
206      Glenn Robinson III       SG  22.0
227         Justin Anderson       SG  22.0
246            Clint Capela       PF  22.0
247              Sam Dekker       SF  22.0
250        Montrezl Harrell       PF  22.0
268           Jarell Martin       PF  22.0
295           Kyle Anderson       SF  22.0
318         Dennis Schroder       PG  22.0
332  Michael Kidd-Gilchrist       SF  22.0
347         Josh Richardson       SG  22.0
364           Elfrid Payton       PG  22.0
369            Bradley Beal       SG  22.0
412            Steven Adams        C  22.0
23.0                          Name Position   Age
22               Shane Larkin       PG  23.0
32     Thanasis Antetokounmpo       SF  23.0
37               Jerian Grant       PG  23.0
45                Tony Wroten       SG  23.0
61            Bismack Biyombo        C  23.0
68             Lucas Nogueira        C  23.0
70              Norman Powell       SG  23.0
86       James Michael McAdoo       SF  23.0
94             Branden Dawson       SF  23.0
104             Austin Rivers       PG  23.0
108             Anthony Brown       SF  23.0
114           Larry Nance Jr.       PF  23.0
135             Alan Williams        C  23.0
148              Ben McLemore       SG  23.0
155         Cristiano Felicio       PF  23.0
186  Kentavious Caldwell-Pope       SG  23.0
187         Spencer Dinwiddie       PG  23.0
189             Tobias Harris       SF  23.0
190           Darrun Hilliard       SF  23.0
210                 Joe Young       PG  23.0
222       Johnny O'Bryant III       PF  23.0
253            K.J. McDaniels       SG  23.0
263              Bryce Cotton       PG  23.0
267             P.J. Hairston       SF  23.0
281             Anthony Davis       PF  23.0
282        Bryce Dejean-Jones       SG  23.0
331        Frank Kaminsky III        C  23.0
338               Cody Zeller        C  23.0
350             Briante Weber       PG  23.0
355             Evan Fournier       SG  23.0
360              Devyn Marble       SF  23.0
378           Otto Porter Jr.       SF  23.0
396            JaKarr Sampson       SG  23.0
397              Axel Toupane       SG  23.0
403          Shabazz Muhammad       SF  23.0
429           Pat Connaughton       SG  23.0
432          Maurice Harkless       SF  23.0
438              Luis Montero       SG  23.0
443                Trey Burke       PG  23.0
447               Rudy Gobert        C  23.0
449               Rodney Hood       SG  23.0
24.0                         Name Position   Age
10           Jared Sullinger        C  24.0
16              Markel Brown       SG  24.0
36         Langston Galloway       SG  24.0
53          Kendall Marshall       PG  24.0
54            T.J. McConnell       PG  24.0
66               Cory Joseph       PG  24.0
74         Jonas Valanciunas        C  24.0
75              Delon Wright       PG  24.0
77           Harrison Barnes       SF  24.0
107              Tarik Black        C  24.0
110          Jordan Clarkson       PG  24.0
127           Brandon Knight       PG  24.0
145               Duje Dukan       PF  24.0
149            Eric Moreland       PF  24.0
159           Doug McDermott       SF  24.0
165               Tony Snell       SF  24.0
168             Kyrie Irving       PG  24.0
197         Rakeem Christmas       PF  24.0
213  Michael Carter-Williams       PG  24.0
219          Khris Middleton       SG  24.0
239            Dwight Powell       PF  24.0
252           Terrence Jones       PF  24.0
269             Ray McCallum       PG  24.0
270           Xavier Munford       PG  24.0
301            Kawhi Leonard       SF  24.0
310         Tim Hardaway Jr.       SG  24.0
316             Mike Muscala       PF  24.0
317          Lamar Patterson       SG  24.0
322           Walter Tavares        C  24.0
325             Troy Daniels       SG  24.0
333              Jeremy Lamb       SG  24.0
345            Tyler Johnson       SG  24.0
361           Shabazz Napier       PG  24.0
363           Victor Oladipo       SG  24.0
371             Jarell Eddie       SG  24.0
391        Joffrey Lauvergne        C  24.0
416             Josh Huestis       SF  24.0
418              Enes Kanter        C  24.0
419             Mitch McGary       PF  24.0
423           Andre Roberson       SG  24.0
425             Dion Waiters       SG  24.0
430             Allen Crabbe       SG  24.0
435           Meyers Leonard       PF  24.0
437            C.J. McCollum       SG  24.0
444               Alec Burks       SG  24.0
446           Derrick Favors       PF  24.0
454                Raul Neto       PG  24.0
25.0                     Name Position   Age
0          Avery Bradley       PG  25.0
1            Jae Crowder       SF  25.0
7           Kelly Olynyk        C  25.0
26       Thomas Robinson       PF  25.0
35      Cleanthony Early       SF  25.0
44      Derrick Williams       PF  25.0
47         Isaiah Canaan       PG  25.0
48      Robert Covington       SF  25.0
59       Hollis Thompson       SG  25.0
71         Terrence Ross       SF  25.0
79             Ian Clark       SG  25.0
105          C.J. Wilcox       SG  25.0
113           Ryan Kelly       PF  25.0
126         John Jenkins       SG  25.0
130         Phil Pressey       PG  25.0
136           Quincy Acy       SF  25.0
143     DeMarcus Cousins        C  25.0
144           Seth Curry       SG  25.0
151     Cameron Bairstow       PF  25.0
160       Nikola Mirotic       PF  25.0
166  Matthew Dellavedova       PG  25.0
175         Jordan McRae       SG  25.0
177        Iman Shumpert       SG  25.0
179     Tristan Thompson        C  25.0
184        Lorenzo Brown       PG  25.0
185       Reggie Bullock       SF  25.0
202         Solomon Hill       SF  25.0
209   Shayne Whittington       PF  25.0
214     Jared Cunningham       SG  25.0
216          John Henson       PF  25.0
254   Donatas Motiejunas       PF  25.0
266       JaMychal Green       PF  25.0
272     Lance Stephenson       SF  25.0
284          James Ennis       SF  25.0
286          Tim Frazier       PG  25.0
289      Jordan Hamilton       SG  25.0
290         Jrue Holiday       PG  25.0
366       Nikola Vucevic        C  25.0
382            John Wall       PG  25.0
385          Will Barton       SF  25.0
404        Adreian Payne       PF  25.0
407          Ricky Rubio       PG  25.0
409           Greg Smith       PF  25.0
428      Al-Farouq Aminu       SF  25.0
436       Damian Lillard       PG  25.0
26.0                  Name Position   Age
14       Tyler Zeller        C  26.0
21    Sean Kilpatrick       SG  26.0
25        Willie Reed       PF  26.0
27         Henry Sims        C  26.0
39       Kyle O'Quinn       PF  26.0
41     Kevin Seraphin        C  26.0
64      DeMar DeRozan       SG  26.0
81       Festus Ezeli        C  26.0
82     Draymond Green       PF  26.0
89      Klay Thompson       SG  26.0
121      Eric Bledsoe       PG  26.0
153      Jimmy Butler       SG  26.0
191    Reggie Jackson       PG  26.0
194     Marcus Morris       PF  26.0
199       Paul George       SF  26.0
220       Greg Monroe        C  26.0
249      James Harden       SG  26.0
278      Luke Babbitt       SF  26.0
285      Tyreke Evans       SG  26.0
307  Jonathon Simmons       SG  26.0
309     Kent Bazemore       SF  26.0
336      Kemba Walker       PG  26.0
351  Hassan Whiteside        C  26.0
354    Dewayne Dedmon        C  26.0
359  Brandon Jennings       PG  26.0
362  Andrew Nicholson       PF  26.0
376   Markieff Morris       PF  26.0
387    Kenneth Faried       PF  26.0
399      Gorgui Dieng        C  26.0
417       Serge Ibaka       PF  26.0
439     Mason Plumlee        C  26.0
448    Gordon Hayward       SF  26.0
451     Chris Johnson       SF  26.0
453      Shelvin Mack       PG  26.0
455      Tibor Pleiss        C  26.0
456       Jeff Withey        C  26.0
27.0                   Name Position   Age
2         John Holland       SG  27.0
11       Isaiah Thomas       PG  27.0
12         Evan Turner       SG  27.0
15    Bojan Bogdanovic       SG  27.0
29      Thaddeus Young       PF  27.0
57           Ish Smith       PG  27.0
69   Patrick Patterson       PF  27.0
91        Cole Aldrich        C  27.0
96       Blake Griffin       PF  27.0
98      DeAndre Jordan        C  27.0
117       Robert Sacre        C  27.0
129          Jon Leuer       PF  27.0
137     James Anderson       SG  27.0
140        Omri Casspi       SF  27.0
147       Kosta Koufos        C  27.0
158     Justin Holiday       SG  27.0
161      E'Twaun Moore       SG  27.0
164       Derrick Rose       PG  27.0
174         Kevin Love       PF  27.0
196        Lavoy Allen       PF  27.0
212     Jerryd Bayless       PG  27.0
224      Miles Plumlee        C  27.0
238   Chandler Parsons       SF  27.0
243    Michael Beasley       SF  27.0
244   Patrick Beverley       PG  27.0
248   Andrew Goudelock       PG  27.0
279        Norris Cole       PG  27.0
288        Eric Gordon       SG  27.0
291    Orlando Johnson       SG  27.0
302   Boban Marjanovic        C  27.0
305        Patty Mills       PG  27.0
319         Mike Scott       PF  27.0
323        Jeff Teague       PG  27.0
324      Nicolas Batum       SG  27.0
326    Jorge Gutierrez       PG  27.0
335         Jeremy Lin       PG  27.0
374         JJ Hickson        C  27.0
388   Danilo Gallinari       SF  27.0
414       Kevin Durant       SF  27.0
426  Russell Westbrook       PG  27.0
431           Ed Davis        C  27.0
28.0                   Name Position   Age
17     Wayne Ellington       SG  28.0
23         Brook Lopez        C  28.0
28        Donald Sloan       PG  28.0
38         Robin Lopez        C  28.0
42        Lance Thomas       SF  28.0
80       Stephen Curry       PG  28.0
88   Marreese Speights        C  28.0
97      Wesley Johnson       SF  28.0
123     Chase Budinger       SF  28.0
142    Darren Collison       PG  28.0
193        Jodie Meeks       SG  28.0
201        Jordan Hill        C  28.0
203          Ty Lawson       PG  28.0
218          O.J. Mayo       SG  28.0
229       Jeremy Evans       SF  28.0
234       JaVale McGee        C  28.0
262        Mike Conley       PG  28.0
273     Alex Stepheson       PF  28.0
274     Brandan Wright       PF  28.0
275      Alexis Ajinca        C  28.0
276      Ryan Anderson       PF  28.0
293   Quincy Pondexter       SF  28.0
300        Danny Green       SG  28.0
329      Spencer Hawes       PF  28.0
383     Darrell Arthur       PF  28.0
384      D.J. Augustin       PG  28.0
398    Nemanja Bjelica       PF  28.0
424       Kyle Singler       SF  28.0
433   Gerald Henderson       SG  28.0
442      Trevor Booker       PF  28.0
450         Joe Ingles       SF  28.0
29.0                          Name Position   Age
4               Jonas Jerebko       PF  29.0
5                Amir Johnson       PF  29.0
63            DeMarre Carroll       SF  29.0
65              James Johnson       PF  29.0
73             Jason Thompson       PF  29.0
92                 Jeff Ayres       PF  29.0
95                 Jeff Green       SF  29.0
99   Luc Richard Mbah a Moute       PF  29.0
111               Roy Hibbert        C  29.0
118            Louis Williams       SG  29.0
146                  Rudy Gay       SF  29.0
176            Timofey Mozgov        C  29.0
182               Aron Baynes        C  29.0
204               Ian Mahinmi        C  29.0
205                C.J. Miles       SF  29.0
225           Greivis Vasquez       PG  29.0
233           Wesley Matthews       SG  29.0
235               Salah Mejri        C  29.0
264             Jordan Farmar       PG  29.0
277                 Omer Asik        C  29.0
280          Dante Cunningham       PF  29.0
287                Alonzo Gee       SF  29.0
337           Marvin Williams       PF  29.0
346            Josh McRoberts       PF  29.0
358            Ersan Ilyasova       PF  29.0
381           Marcus Thornton       SF  29.0
386           Wilson Chandler       SF  29.0
408              Damjan Rudez       SF  29.0
30.0                   Name Position   Age
30       Arron Afflalo       SG  30.0
67          Kyle Lowry       PG  30.0
84    Shaun Livingston       PG  30.0
87        Brandon Rush       SF  30.0
132    Mirza Teletovic       PF  30.0
138    Marco Belinelli       SG  30.0
150        Rajon Rondo       PG  30.0
157         Taj Gibson       PF  30.0
178         J.R. Smith       SG  30.0
198        Monta Ellis       SG  30.0
200        George Hill       PG  30.0
207     Rodney Stuckey       PG  30.0
242       Trevor Ariza       SF  30.0
245       Corey Brewer       SG  30.0
251      Dwight Howard        C  30.0
255         Josh Smith        C  30.0
283      Toney Douglas       PG  30.0
294  LaMarcus Aldridge       PF  30.0
312         Al Horford        C  30.0
327   Tyler Hansbrough       PF  30.0
334       Courtney Lee       SG  30.0
341       Goran Dragic       PG  30.0
342       Gerald Green       SF  30.0
353      Dorell Wright       SF  30.0
365        Jason Smith       PF  30.0
370       Jared Dudley       SF  30.0
379     Ramon Sessions       PG  30.0
380     Garrett Temple       SG  30.0
405     Nikola Pekovic        C  30.0
421     Anthony Morrow       SG  30.0
440      Brian Roberts       PG  30.0
31.0                    Name Position   Age
78         Andrew Bogut        C  31.0
100          Chris Paul       PG  31.0
103           JJ Redick       SG  31.0
106        Brandon Bass       PF  31.0
120          Nick Young       SF  31.0
133         P.J. Tucker       SF  31.0
152        Aaron Brooks       PG  31.0
162         Joakim Noah        C  31.0
169        LeBron James       SF  31.0
173          Sasha Kaun        C  31.0
195    Anthony Tolliver       PF  31.0
228          J.J. Barea       PG  31.0
230      Raymond Felton       PG  31.0
240  Charlie Villanueva       PF  31.0
241      Deron Williams       PG  31.0
265          Marc Gasol        C  31.0
292    Kendrick Perkins        C  31.0
313      Kris Humphries       PF  31.0
315        Paul Millsap       PF  31.0
321      Tiago Splitter        C  31.0
330        Al Jefferson        C  31.0
340           Luol Deng       SF  31.0
32.0                 Name Position   Age
19      Jarrett Jack       PG  32.0
33   Carmelo Anthony       SF  32.0
43     Sasha Vujacic       SG  32.0
52       Carl Landry       PF  32.0
83    Andre Iguodala       SF  32.0
131     Ronnie Price       PG  32.0
221      Steve Novak       SF  32.0
237    Zaza Pachulia        C  32.0
320  Thabo Sefolosha       SF  32.0
339       Chris Bosh       PF  32.0
367      C.J. Watson       PG  32.0
373    Marcin Gortat        C  32.0
415       Randy Foye       SG  32.0
33.0                   Name Position   Age
31        Lou Amundson       PF  33.0
76     Leandro Barbosa       SG  33.0
90    Anderson Varejao       PF  33.0
112    Marcelo Huertas       PG  33.0
124     Tyson Chandler        C  33.0
167      Channing Frye       PF  33.0
180        Mo Williams       PG  33.0
181       Joel Anthony        C  33.0
231       Devin Harris       PG  33.0
232          David Lee       PF  33.0
303       Kevin Martin       SG  33.0
348  Amar'e Stoudemire       PF  33.0
368      Alan Anderson       SG  33.0
375       Nene Hilario        C  33.0
34.0               Name Position   Age
34   Jose Calderon       PG  34.0
258     Tony Allen       SG  34.0
271  Zach Randolph       PF  34.0
297     Boris Diaw        C  34.0
306    Tony Parker       PG  34.0
344    Joe Johnson       SF  34.0
349    Dwyane Wade       SG  34.0
372    Drew Gooden       PF  34.0
394  Jameer Nelson       PG  34.0
434    Chris Kaman        C  34.0
35.0                   Name Position   Age
154      Mike Dunleavy       SG  35.0
156          Pau Gasol        C  35.0
170  Richard Jefferson       SF  35.0
171      Dahntay Jones       SG  35.0
172        James Jones       SG  35.0
308         David West       PF  35.0
311       Kirk Hinrich       SG  35.0
314        Kyle Korver       SG  35.0
413      Nick Collison       PF  35.0
36.0                   Name Position   Age
72          Luis Scola       PF  36.0
93      Jamal Crawford       SG  36.0
119  Metta World Peace       SF  36.0
139       Caron Butler       SF  36.0
183        Steve Blake       PG  36.0
260        Matt Barnes       SF  36.0
296        Matt Bonner        C  36.0
343      Udonis Haslem       PF  36.0
392        Mike Miller       SG  36.0
406    Tayshaun Prince       SF  36.0
37.0                Name Position   Age
46      Elton Brand       PF  37.0
109     Kobe Bryant       SF  37.0
236   Dirk Nowitzki       PF  37.0
259  Chris Andersen       PF  37.0
38.0               Name Position   Age
101    Paul Pierce       SF  38.0
256    Jason Terry       SG  38.0
299  Manu Ginobili       SG  38.0
420  Nazr Mohammed        C  38.0
39.0                Name Position   Age
102  Pablo Prigioni       PG  39.0
261    Vince Carter       SG  39.0
40.0               Name Position   Age
298     Tim Duncan        C  40.0
304   Andre Miller       PG  40.0
400  Kevin Garnett       PF  40.0

In [ ]:
grp.get_group(26)

In [13]:
grp2= dmp.groupby(['Team','Position'])

In [14]:
for team,group in grp2:
    print(team,group)

('Atlanta Hawks', 'C')                Name           Team  Number Position   Age Height  Weight  \
312      Al Horford  Atlanta Hawks    15.0        C  30.0   6-10   245.0
321  Tiago Splitter  Atlanta Hawks    11.0        C  31.0   6-11   245.0
322  Walter Tavares  Atlanta Hawks    22.0        C  24.0    7-3   260.0

     College      Salary
312  Florida  12000000.0
321      NaN   9756250.0
322      NaN   1000000.0
('Atlanta Hawks', 'PF')                Name           Team  Number Position   Age Height  Weight  \
313  Kris Humphries  Atlanta Hawks    43.0       PF  31.0    6-9   235.0
315    Paul Millsap  Atlanta Hawks     4.0       PF  31.0    6-8   246.0
316    Mike Muscala  Atlanta Hawks    31.0       PF  24.0   6-11   240.0
319      Mike Scott  Atlanta Hawks    32.0       PF  27.0    6-8   237.0

            College      Salary
313       Minnesota   1000000.0
315  Louisiana Tech  18671659.0
316        Bucknell    947276.0
319        Virginia   3333333.0
('Atlanta Hawks', 'PG')                 Name           Team  Number Position   Age Height  Weight  \
318  Dennis Schroder  Atlanta Hawks    17.0       PG  22.0    6-1   172.0
323      Jeff Teague  Atlanta Hawks     0.0       PG  27.0    6-2   186.0

         College     Salary
318          NaN  1763400.0
323  Wake Forest  8000000.0
('Atlanta Hawks', 'SF')                 Name           Team  Number Position   Age Height  Weight  \
309    Kent Bazemore  Atlanta Hawks    24.0       SF  26.0    6-5   201.0
320  Thabo Sefolosha  Atlanta Hawks    25.0       SF  32.0    6-7   220.0

          College     Salary
309  Old Dominion  2000000.0
320           NaN  4000000.0
('Atlanta Hawks', 'SG')                  Name           Team  Number Position   Age Height  Weight  \
310  Tim Hardaway Jr.  Atlanta Hawks    10.0       SG  24.0    6-6   205.0
311      Kirk Hinrich  Atlanta Hawks    12.0       SG  35.0    6-4   190.0
314       Kyle Korver  Atlanta Hawks    26.0       SG  35.0    6-7   212.0
317   Lamar Patterson  Atlanta Hawks    13.0       SG  24.0    6-5   225.0

        College     Salary
310    Michigan  1304520.0
311      Kansas  2854940.0
314   Creighton  5746479.0
317  Pittsburgh   525093.0
('Boston Celtics', 'C')                Name            Team  Number Position   Age Height  Weight  \
7      Kelly Olynyk  Boston Celtics    41.0        C  25.0    7-0   238.0
10  Jared Sullinger  Boston Celtics     7.0        C  24.0    6-9   260.0
14     Tyler Zeller  Boston Celtics    44.0        C  26.0    7-0   253.0

           College     Salary
7          Gonzaga  2165160.0
10      Ohio State  2569260.0
14  North Carolina  2616975.0
('Boston Celtics', 'PF')             Name            Team  Number Position   Age Height  Weight  \
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
5   Amir Johnson  Boston Celtics    90.0       PF  29.0    6-9   240.0
6  Jordan Mickey  Boston Celtics    55.0       PF  21.0    6-8   235.0

  College      Salary
4     NaN   5000000.0
5     NaN  12000000.0
6     LSU   1170960.0
('Boston Celtics', 'PG')              Name            Team  Number Position   Age Height  Weight  \
0   Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
8    Terry Rozier  Boston Celtics    12.0       PG  22.0    6-2   190.0
9    Marcus Smart  Boston Celtics    36.0       PG  22.0    6-4   220.0
11  Isaiah Thomas  Boston Celtics     4.0       PG  27.0    5-9   185.0

           College     Salary
0            Texas  7730337.0
8       Louisville  1824360.0
9   Oklahoma State  3431040.0
11      Washington  6912869.0
('Boston Celtics', 'SF')           Name            Team  Number Position   Age Height  Weight  \
1  Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0

     College     Salary
1  Marquette  6796117.0
('Boston Celtics', 'SG')             Name            Team  Number Position   Age Height  Weight  \
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
12   Evan Turner  Boston Celtics    11.0       SG  27.0    6-7   220.0
13   James Young  Boston Celtics    13.0       SG  20.0    6-6   215.0

              College     Salary
2   Boston University        NaN
3       Georgia State  1148640.0
12         Ohio State  3425510.0
13           Kentucky  1749840.0
('Brooklyn Nets', 'C')            Name           Team  Number Position   Age Height  Weight  \
23  Brook Lopez  Brooklyn Nets    11.0        C  28.0    7-0   275.0
27   Henry Sims  Brooklyn Nets    14.0        C  26.0   6-10   248.0

       College      Salary
23    Stanford  19689000.0
27  Georgetown    947276.0
('Brooklyn Nets', 'PF')                 Name           Team  Number Position   Age Height  Weight  \
24  Chris McCullough  Brooklyn Nets     1.0       PF  21.0   6-11   200.0
25       Willie Reed  Brooklyn Nets    33.0       PF  26.0   6-10   220.0
26   Thomas Robinson  Brooklyn Nets    41.0       PF  25.0   6-10   237.0
29    Thaddeus Young  Brooklyn Nets    30.0       PF  27.0    6-8   221.0

         College      Salary
24      Syracuse   1140240.0
25   Saint Louis    947276.0
26        Kansas    981348.0
29  Georgia Tech  11235955.0
('Brooklyn Nets', 'PG')             Name           Team  Number Position   Age Height  Weight  \
19  Jarrett Jack  Brooklyn Nets     2.0       PG  32.0    6-3   200.0
22  Shane Larkin  Brooklyn Nets     0.0       PG  23.0   5-11   175.0
28  Donald Sloan  Brooklyn Nets    15.0       PG  28.0    6-3   205.0

         College     Salary
19  Georgia Tech  6300000.0
22    Miami (FL)  1500000.0
28     Texas A&M   947276.0
('Brooklyn Nets', 'SG')                        Name           Team  Number Position   Age Height  \
15         Bojan Bogdanovic  Brooklyn Nets    44.0       SG  27.0    6-8
16             Markel Brown  Brooklyn Nets    22.0       SG  24.0    6-3
17          Wayne Ellington  Brooklyn Nets    21.0       SG  28.0    6-4
18  Rondae Hollis-Jefferson  Brooklyn Nets    24.0       SG  21.0    6-7
20           Sergey Karasev  Brooklyn Nets    10.0       SG  22.0    6-7
21          Sean Kilpatrick  Brooklyn Nets     6.0       SG  26.0    6-4

    Weight         College     Salary
15   216.0             NaN  3425510.0
16   190.0  Oklahoma State   845059.0
17   200.0  North Carolina  1500000.0
18   220.0         Arizona  1335480.0
20   208.0             NaN  1599840.0
21   219.0      Cincinnati   134215.0
('Charlotte Hornets', 'C')                    Name               Team  Number Position   Age Height  \
330        Al Jefferson  Charlotte Hornets    25.0        C  31.0   6-10
331  Frank Kaminsky III  Charlotte Hornets    44.0        C  23.0    7-0
338         Cody Zeller  Charlotte Hornets    40.0        C  23.0    7-0

     Weight    College      Salary
330   289.0        NaN  13500000.0
331   240.0  Wisconsin   2612520.0
338   240.0    Indiana   4204200.0
('Charlotte Hornets', 'PF')                  Name               Team  Number Position   Age Height  \
327  Tyler Hansbrough  Charlotte Hornets    50.0       PF  30.0    6-9
329     Spencer Hawes  Charlotte Hornets     0.0       PF  28.0    7-1
337   Marvin Williams  Charlotte Hornets     2.0       PF  29.0    6-9

     Weight         College     Salary
327   250.0  North Carolina   947276.0
329   245.0      Washington  6110034.0
337   237.0  North Carolina  7000000.0
('Charlotte Hornets', 'PG')                 Name               Team  Number Position   Age Height  Weight  \
326  Jorge Gutierrez  Charlotte Hornets    12.0       PG  27.0    6-3   189.0
335       Jeremy Lin  Charlotte Hornets     7.0       PG  27.0    6-3   200.0
336     Kemba Walker  Charlotte Hornets    15.0       PG  26.0    6-1   184.0

         College      Salary
326   California    189455.0
335      Harvard   2139000.0
336  Connecticut  12000000.0
('Charlotte Hornets', 'SF')                        Name               Team  Number Position   Age Height  \
332  Michael Kidd-Gilchrist  Charlotte Hornets    14.0       SF  22.0    6-7

     Weight   College     Salary
332   232.0  Kentucky  6331404.0
('Charlotte Hornets', 'SG')                Name               Team  Number Position   Age Height  Weight  \
324   Nicolas Batum  Charlotte Hornets     5.0       SG  27.0    6-8   200.0
325    Troy Daniels  Charlotte Hornets    30.0       SG  24.0    6-4   205.0
328  Aaron Harrison  Charlotte Hornets     9.0       SG  21.0    6-6   210.0
333     Jeremy Lamb  Charlotte Hornets     3.0       SG  24.0    6-5   185.0
334    Courtney Lee  Charlotte Hornets     1.0       SG  30.0    6-5   200.0

                   College      Salary
324                    NaN  13125306.0
325  Virginia Commonwealth    947276.0
328               Kentucky    525093.0
333            Connecticut   3034356.0
334       Western Kentucky   5675000.0
('Chicago Bulls', 'C')             Name           Team  Number Position   Age Height  Weight  \
156    Pau Gasol  Chicago Bulls    16.0        C  35.0    7-0   250.0
162  Joakim Noah  Chicago Bulls    13.0        C  31.0   6-11   232.0

     College      Salary
156      NaN   7448760.0
162  Florida  13400000.0
('Chicago Bulls', 'PF')                   Name           Team  Number Position   Age Height  Weight  \
151   Cameron Bairstow  Chicago Bulls    41.0       PF  25.0    6-9   250.0
155  Cristiano Felicio  Chicago Bulls     6.0       PF  23.0   6-10   275.0
157         Taj Gibson  Chicago Bulls    22.0       PF  30.0    6-9   225.0
160     Nikola Mirotic  Chicago Bulls    44.0       PF  25.0   6-10   220.0
163       Bobby Portis  Chicago Bulls     5.0       PF  21.0   6-11   230.0

        College     Salary
151  New Mexico   845059.0
155         NaN   525093.0
157         USC  8500000.0
160         NaN  5543725.0
163    Arkansas  1391160.0
('Chicago Bulls', 'PG')              Name           Team  Number Position   Age Height  Weight  \
152  Aaron Brooks  Chicago Bulls     0.0       PG  31.0    6-0   161.0
164  Derrick Rose  Chicago Bulls     1.0       PG  27.0    6-3   190.0

     College      Salary
152   Oregon   2250000.0
164  Memphis  20093064.0
('Chicago Bulls', 'SF')                Name           Team  Number Position   Age Height  Weight  \
159  Doug McDermott  Chicago Bulls     3.0       SF  24.0    6-8   225.0
165      Tony Snell  Chicago Bulls    20.0       SF  24.0    6-7   200.0

        College     Salary
159   Creighton  2380440.0
165  New Mexico  1535880.0
('Chicago Bulls', 'SG')                Name           Team  Number Position   Age Height  Weight  \
153    Jimmy Butler  Chicago Bulls    21.0       SG  26.0    6-7   220.0
154   Mike Dunleavy  Chicago Bulls    34.0       SG  35.0    6-9   230.0
158  Justin Holiday  Chicago Bulls     7.0       SG  27.0    6-6   185.0
161   E'Twaun Moore  Chicago Bulls    55.0       SG  27.0    6-4   191.0

        College      Salary
153   Marquette  16407500.0
154        Duke   4500000.0
158  Washington    947276.0
161      Purdue   1015421.0
('Cleveland Cavaliers', 'C')                  Name                 Team  Number Position   Age Height  \
173        Sasha Kaun  Cleveland Cavaliers    14.0        C  31.0   6-11
176    Timofey Mozgov  Cleveland Cavaliers    20.0        C  29.0    7-1
179  Tristan Thompson  Cleveland Cavaliers    13.0        C  25.0    6-9

     Weight College      Salary
173   260.0  Kansas   1276000.0
176   275.0     NaN   4950000.0
179   238.0   Texas  14260870.0
('Cleveland Cavaliers', 'PF')               Name                 Team  Number Position   Age Height  Weight  \
167  Channing Frye  Cleveland Cavaliers     9.0       PF  33.0   6-11   255.0
174     Kevin Love  Cleveland Cavaliers     0.0       PF  27.0   6-10   251.0

     College      Salary
167  Arizona   8193029.0
174     UCLA  19689000.0
('Cleveland Cavaliers', 'PG')                     Name                 Team  Number Position   Age Height  \
166  Matthew Dellavedova  Cleveland Cavaliers     8.0       PG  25.0    6-4
168         Kyrie Irving  Cleveland Cavaliers     2.0       PG  24.0    6-3
180          Mo Williams  Cleveland Cavaliers    52.0       PG  33.0    6-1

     Weight       College      Salary
166   198.0  Saint Mary's   1147276.0
168   193.0          Duke  16407501.0
180   198.0       Alabama   2100000.0
('Cleveland Cavaliers', 'SF')                   Name                 Team  Number Position   Age Height  \
169       LeBron James  Cleveland Cavaliers    23.0       SF  31.0    6-8
170  Richard Jefferson  Cleveland Cavaliers    24.0       SF  35.0    6-7

     Weight  College      Salary
169   250.0      NaN  22970500.0
170   233.0  Arizona    947276.0
('Cleveland Cavaliers', 'SG')               Name                 Team  Number Position   Age Height  Weight  \
171  Dahntay Jones  Cleveland Cavaliers    30.0       SG  35.0    6-6   225.0
172    James Jones  Cleveland Cavaliers     1.0       SG  35.0    6-8   218.0
175   Jordan McRae  Cleveland Cavaliers    12.0       SG  25.0    6-5   179.0
177  Iman Shumpert  Cleveland Cavaliers     4.0       SG  25.0    6-5   220.0
178     J.R. Smith  Cleveland Cavaliers     5.0       SG  30.0    6-6   225.0

          College     Salary
171          Duke        NaN
172    Miami (FL)   947276.0
175     Tennessee   111196.0
177  Georgia Tech  8988765.0
178           NaN  5000000.0
('Dallas Mavericks', 'C')               Name              Team  Number Position   Age Height  Weight  \
234   JaVale McGee  Dallas Mavericks    11.0        C  28.0    7-0   270.0
235    Salah Mejri  Dallas Mavericks    50.0        C  29.0    7-2   245.0
237  Zaza Pachulia  Dallas Mavericks    27.0        C  32.0   6-11   275.0

    College     Salary
234  Nevada  1270964.0
235     NaN   525093.0
237     NaN  5200000.0
('Dallas Mavericks', 'PF')                    Name              Team  Number Position   Age Height  \
232           David Lee  Dallas Mavericks    42.0       PF  33.0    6-9
236       Dirk Nowitzki  Dallas Mavericks    41.0       PF  37.0    7-0
239       Dwight Powell  Dallas Mavericks     7.0       PF  24.0   6-11
240  Charlie Villanueva  Dallas Mavericks     3.0       PF  31.0   6-11

     Weight      College     Salary
232   245.0      Florida  2085671.0
236   245.0          NaN  8333334.0
239   240.0     Stanford   845059.0
240   232.0  Connecticut   947276.0
('Dallas Mavericks', 'PG')                Name              Team  Number Position   Age Height  Weight  \
228      J.J. Barea  Dallas Mavericks     5.0       PG  31.0    6-0   185.0
230  Raymond Felton  Dallas Mavericks     2.0       PG  31.0    6-1   205.0
231    Devin Harris  Dallas Mavericks    34.0       PG  33.0    6-3   185.0
241  Deron Williams  Dallas Mavericks     8.0       PG  31.0    6-3   200.0

            College     Salary
228    Northeastern  4290000.0
230  North Carolina  3950313.0
231       Wisconsin  4053446.0
241        Illinois  5378974.0
('Dallas Mavericks', 'SF')                  Name              Team  Number Position   Age Height  Weight  \
229      Jeremy Evans  Dallas Mavericks    21.0       SF  28.0    6-9   200.0
238  Chandler Parsons  Dallas Mavericks    25.0       SF  27.0   6-10   230.0

              College      Salary
229  Western Kentucky   1100602.0
238           Florida  15361500.0
('Dallas Mavericks', 'SG')                 Name              Team  Number Position   Age Height  Weight  \
227  Justin Anderson  Dallas Mavericks     1.0       SG  22.0    6-6   228.0
233  Wesley Matthews  Dallas Mavericks    23.0       SG  29.0    6-5   220.0

       College      Salary
227   Virginia   1449000.0
233  Marquette  16407500.0
('Denver Nuggets', 'C')                   Name            Team  Number Position   Age Height  Weight  \
390       Nikola Jokic  Denver Nuggets    15.0        C  21.0   6-10   250.0
391  Joffrey Lauvergne  Denver Nuggets    77.0        C  24.0   6-11   220.0
395       Jusuf Nurkic  Denver Nuggets    23.0        C  21.0    7-0   280.0

    College     Salary
390     NaN  1300000.0
391     NaN  1709719.0
395     NaN  1842000.0
('Denver Nuggets', 'PF')                Name            Team  Number Position   Age Height  Weight  \
383  Darrell Arthur  Denver Nuggets     0.0       PF  28.0    6-9   235.0
387  Kenneth Faried  Denver Nuggets    35.0       PF  26.0    6-8   228.0

            College      Salary
383          Kansas   2814000.0
387  Morehead State  11235955.0
('Denver Nuggets', 'PG')                 Name            Team  Number Position   Age Height  Weight  \
384    D.J. Augustin  Denver Nuggets    12.0       PG  28.0    6-0   183.0
393  Emmanuel Mudiay  Denver Nuggets     0.0       PG  20.0    6-5   200.0
394    Jameer Nelson  Denver Nuggets     1.0       PG  34.0    6-0   190.0

            College     Salary
384           Texas  3000000.0
393             NaN  3102240.0
394  Saint Joseph's  4345000.0
('Denver Nuggets', 'SF')                  Name            Team  Number Position   Age Height  Weight  \
385       Will Barton  Denver Nuggets     5.0       SF  25.0    6-6   175.0
386   Wilson Chandler  Denver Nuggets    21.0       SF  29.0    6-8   225.0
388  Danilo Gallinari  Denver Nuggets     8.0       SF  27.0   6-10   225.0

     College      Salary
385  Memphis   3533333.0
386   DePaul  10449438.0
388      NaN  14000000.0
('Denver Nuggets', 'SG')                Name            Team  Number Position   Age Height  Weight  \
389     Gary Harris  Denver Nuggets    14.0       SG  21.0    6-4   210.0
392     Mike Miller  Denver Nuggets     3.0       SG  36.0    6-8   218.0
396  JaKarr Sampson  Denver Nuggets     9.0       SG  23.0    6-9   214.0
397    Axel Toupane  Denver Nuggets     6.0       SG  23.0    6-7   210.0

            College     Salary
389  Michigan State  1584480.0
392         Florida   947276.0
396      St. John's   258489.0
397             NaN        NaN
('Detroit Pistons', 'C')                Name             Team  Number Position   Age Height  Weight  \
181    Joel Anthony  Detroit Pistons    50.0        C  33.0    6-9   245.0
182     Aron Baynes  Detroit Pistons    12.0        C  29.0   6-10   260.0
188  Andre Drummond  Detroit Pistons     0.0        C  22.0   6-11   279.0

              College     Salary
181              UNLV  2500000.0
182  Washington State  6500000.0
188       Connecticut  3272091.0
('Detroit Pistons', 'PF')                  Name             Team  Number Position   Age Height  Weight  \
194     Marcus Morris  Detroit Pistons    13.0       PF  26.0    6-9   235.0
195  Anthony Tolliver  Detroit Pistons    43.0       PF  31.0    6-8   240.0

       College     Salary
194     Kansas  5000000.0
195  Creighton  3000000.0
('Detroit Pistons', 'PG')                   Name             Team  Number Position   Age Height  Weight  \
183        Steve Blake  Detroit Pistons    22.0       PG  36.0    6-3   172.0
184      Lorenzo Brown  Detroit Pistons    17.0       PG  25.0    6-5   189.0
187  Spencer Dinwiddie  Detroit Pistons     8.0       PG  23.0    6-6   200.0
191     Reggie Jackson  Detroit Pistons     1.0       PG  26.0    6-3   208.0

                  College      Salary
183              Maryland   2170465.0
184  North Carolina State    111444.0
187              Colorado    845059.0
191        Boston College  13913044.0
('Detroit Pistons', 'SF')                 Name             Team  Number Position   Age Height  Weight  \
185   Reggie Bullock  Detroit Pistons    25.0       SF  25.0    6-7   205.0
189    Tobias Harris  Detroit Pistons    34.0       SF  23.0    6-9   235.0
190  Darrun Hilliard  Detroit Pistons     6.0       SF  23.0    6-6   205.0
192  Stanley Johnson  Detroit Pistons     3.0       SF  20.0    6-7   245.0

            College      Salary
185  North Carolina   1252440.0
189       Tennessee  16000000.0
190       Villanova    600000.0
192         Arizona   2841960.0
('Detroit Pistons', 'SG')                          Name             Team  Number Position   Age Height  \
186  Kentavious Caldwell-Pope  Detroit Pistons     5.0       SG  23.0    6-5
193               Jodie Meeks  Detroit Pistons    20.0       SG  28.0    6-4

     Weight   College     Salary

('Houston Rockets', 'PF')                    Name             Team  Number Position   Age Height  \
246        Clint Capela  Houston Rockets    15.0       PF  22.0   6-10
250    Montrezl Harrell  Houston Rockets    35.0       PF  22.0    6-8
252      Terrence Jones  Houston Rockets     6.0       PF  24.0    6-9
254  Donatas Motiejunas  Houston Rockets    20.0       PF  25.0    7-0

     Weight     College     Salary
246   240.0         NaN  1242720.0
250   240.0  Louisville  1000000.0
252   252.0    Kentucky  2489530.0
254   222.0         NaN  2288205.0
('Houston Rockets', 'PG')                  Name             Team  Number Position   Age Height  Weight  \
244  Patrick Beverley  Houston Rockets     2.0       PG  27.0    6-1   185.0
248  Andrew Goudelock  Houston Rockets     0.0       PG  27.0    6-3   200.0

        College     Salary
244    Arkansas  6486486.0
248  Charleston   200600.0
('Houston Rockets', 'SF')                 Name             Team  Number Position   Age Height  Weight  \
242     Trevor Ariza  Houston Rockets     1.0       SF  30.0    6-8   215.0
243  Michael Beasley  Houston Rockets     8.0       SF  27.0   6-10   235.0
247       Sam Dekker  Houston Rockets     7.0       SF  22.0    6-9   230.0

          College     Salary
242          UCLA  8193030.0
243  Kansas State   306527.0
247     Wisconsin  1646400.0
('Houston Rockets', 'SG')                Name             Team  Number Position   Age Height  Weight  \
245    Corey Brewer  Houston Rockets    33.0       SG  30.0    6-9   186.0
249    James Harden  Houston Rockets    13.0       SG  26.0    6-5   220.0
253  K.J. McDaniels  Houston Rockets    32.0       SG  23.0    6-6   205.0
256     Jason Terry  Houston Rockets    31.0       SG  38.0    6-2   185.0

           College      Salary
245        Florida   8229375.0
249  Arizona State  15756438.0
253        Clemson   3189794.0
256        Arizona    947276.0
('Indiana Pacers', 'C')             Name            Team  Number Position   Age Height  Weight  \
201  Jordan Hill  Indiana Pacers    27.0        C  28.0   6-10   235.0
204  Ian Mahinmi  Indiana Pacers    28.0        C  29.0   6-11   250.0

     College     Salary
201  Arizona  4000000.0
204      NaN  4000000.0
('Indiana Pacers', 'PF')                    Name            Team  Number Position   Age Height  Weight  \
196         Lavoy Allen  Indiana Pacers     5.0       PF  27.0    6-9   255.0
197    Rakeem Christmas  Indiana Pacers    25.0       PF  24.0    6-9   250.0
208        Myles Turner  Indiana Pacers    33.0       PF  20.0   6-11   243.0
209  Shayne Whittington  Indiana Pacers    42.0       PF  25.0   6-11   250.0

              College     Salary
196            Temple  4050000.0
197          Syracuse  1007026.0
208             Texas  2357760.0
209  Western Michigan   845059.0
('Indiana Pacers', 'PG')                Name            Team  Number Position   Age Height  Weight  \
200     George Hill  Indiana Pacers     3.0       PG  30.0    6-3   188.0
203       Ty Lawson  Indiana Pacers    10.0       PG  28.0   5-11   195.0
207  Rodney Stuckey  Indiana Pacers     2.0       PG  30.0    6-5   205.0
210       Joe Young  Indiana Pacers     1.0       PG  23.0    6-2   180.0

                College     Salary
200               IUPUI  8000000.0
203      North Carolina   211744.0
207  Eastern Washington  7000000.0
210              Oregon  1007026.0
('Indiana Pacers', 'SF')              Name            Team  Number Position   Age Height  Weight  \
199   Paul George  Indiana Pacers    13.0       SF  26.0    6-9   220.0
202  Solomon Hill  Indiana Pacers    44.0       SF  25.0    6-7   225.0
205    C.J. Miles  Indiana Pacers     0.0       SF  29.0    6-6   231.0

          College      Salary
199  Fresno State  17120106.0
202       Arizona   1358880.0
205           NaN   4394225.0
('Indiana Pacers', 'SG')                    Name            Team  Number Position   Age Height  Weight  \
198         Monta Ellis  Indiana Pacers    11.0       SG  30.0    6-3   185.0
206  Glenn Robinson III  Indiana Pacers    40.0       SG  22.0    6-7   222.0

      College      Salary
198       NaN  10300000.0
206  Michigan   1100000.0
('Los Angeles Clippers', 'C')               Name                  Team  Number Position   Age Height  \
91    Cole Aldrich  Los Angeles Clippers    45.0        C  27.0   6-11
98  DeAndre Jordan  Los Angeles Clippers     6.0        C  27.0   6-11

    Weight    College      Salary
91   250.0     Kansas   1100602.0
98   265.0  Texas A&M  19689000.0
('Los Angeles Clippers', 'PF')                         Name                  Team  Number Position   Age  \
92                Jeff Ayres  Los Angeles Clippers    19.0       PF  29.0
96             Blake Griffin  Los Angeles Clippers    32.0       PF  27.0
99  Luc Richard Mbah a Moute  Los Angeles Clippers    12.0       PF  29.0

   Height  Weight        College      Salary
92    6-9   250.0  Arizona State    111444.0
96   6-10   251.0       Oklahoma  18907726.0
99    6-8   230.0           UCLA    947276.0
('Los Angeles Clippers', 'PG')                Name                  Team  Number Position   Age Height  \
100      Chris Paul  Los Angeles Clippers     3.0       PG  31.0    6-0
102  Pablo Prigioni  Los Angeles Clippers     9.0       PG  39.0    6-3
104   Austin Rivers  Los Angeles Clippers    25.0       PG  23.0    6-4

     Weight      College      Salary
100   175.0  Wake Forest  21468695.0
102   185.0          NaN    947726.0
104   200.0         Duke   3110796.0
('Los Angeles Clippers', 'SF')                Name                  Team  Number Position   Age Height  \
94   Branden Dawson  Los Angeles Clippers    22.0       SF  23.0    6-6
95       Jeff Green  Los Angeles Clippers     8.0       SF  29.0    6-9
97   Wesley Johnson  Los Angeles Clippers    33.0       SF  28.0    6-7
101     Paul Pierce  Los Angeles Clippers    34.0       SF  38.0    6-7

     Weight         College     Salary
94    225.0  Michigan State   525093.0
95    235.0      Georgetown  9650000.0
97    215.0        Syracuse  1100602.0
101   235.0          Kansas  3376000.0
('Los Angeles Clippers', 'SG')                Name                  Team  Number Position   Age Height  \
93   Jamal Crawford  Los Angeles Clippers    11.0       SG  36.0    6-5
103       JJ Redick  Los Angeles Clippers     4.0       SG  31.0    6-4
105     C.J. Wilcox  Los Angeles Clippers    30.0       SG  25.0    6-5

     Weight     College     Salary
93    195.0    Michigan  5675000.0
103   190.0        Duke  7085000.0
105   195.0  Washington  1159680.0
('Los Angeles Lakers', 'C')              Name                Team  Number Position   Age Height  Weight  \
107   Tarik Black  Los Angeles Lakers    28.0        C  24.0    6-9   250.0
111   Roy Hibbert  Los Angeles Lakers    17.0        C  29.0    7-2   270.0
117  Robert Sacre  Los Angeles Lakers    50.0        C  27.0    7-0   270.0

        College      Salary
107      Kansas    845059.0
111  Georgetown  15592217.0
117     Gonzaga    981348.0
('Los Angeles Lakers', 'PF')                 Name                Team  Number Position   Age Height  \
106     Brandon Bass  Los Angeles Lakers     2.0       PF  31.0    6-8
113       Ryan Kelly  Los Angeles Lakers     4.0       PF  25.0   6-11
114  Larry Nance Jr.  Los Angeles Lakers     7.0       PF  23.0    6-9
115    Julius Randle  Los Angeles Lakers    30.0       PF  21.0    6-9

     Weight   College     Salary
106   250.0       LSU  3000000.0
113   230.0      Duke  1724250.0
114   230.0   Wyoming  1155600.0
115   250.0  Kentucky  3132240.0
('Los Angeles Lakers', 'PG')                  Name                Team  Number Position   Age Height  \
110   Jordan Clarkson  Los Angeles Lakers     6.0       PG  24.0    6-5
112   Marcelo Huertas  Los Angeles Lakers     9.0       PG  33.0    6-3
116  D'Angelo Russell  Los Angeles Lakers     1.0       PG  20.0    6-5

     Weight     College     Salary
110   194.0    Missouri   845059.0
112   200.0         NaN   525093.0
116   195.0  Ohio State  5103120.0
('Los Angeles Lakers', 'SF')                   Name                Team  Number Position   Age Height  \
108      Anthony Brown  Los Angeles Lakers     3.0       SF  23.0    6-7
109        Kobe Bryant  Los Angeles Lakers    24.0       SF  37.0    6-6
119  Metta World Peace  Los Angeles Lakers    37.0       SF  36.0    6-7
120         Nick Young  Los Angeles Lakers     0.0       SF  31.0    6-7

     Weight     College      Salary
108   210.0    Stanford    700000.0
109   212.0         NaN  25000000.0
119   260.0  St. John's    947276.0
120   210.0         USC   5219169.0
('Los Angeles Lakers', 'SG')                Name                Team  Number Position   Age Height  Weight  \
118  Louis Williams  Los Angeles Lakers    23.0       SG  29.0    6-1   175.0

    College     Salary
118     NaN  7000000.0
('Memphis Grizzlies', 'C')            Name               Team  Number Position   Age Height  Weight  \
265  Marc Gasol  Memphis Grizzlies    33.0        C  31.0    7-1   255.0

    College      Salary
265     NaN  19688000.0
('Memphis Grizzlies', 'PF')                Name               Team  Number Position   Age Height  Weight  \
259  Chris Andersen  Memphis Grizzlies     7.0       PF  37.0   6-10   245.0
266  JaMychal Green  Memphis Grizzlies     0.0       PF  25.0    6-9   227.0
268   Jarell Martin  Memphis Grizzlies    10.0       PF  22.0   6-10   239.0
271   Zach Randolph  Memphis Grizzlies    50.0       PF  34.0    6-9   260.0
273  Alex Stepheson  Memphis Grizzlies    35.0       PF  28.0   6-10   270.0
274  Brandan Wright  Memphis Grizzlies    34.0       PF  28.0   6-10   210.0

            College     Salary
259   Blinn College  5000000.0
266         Alabama   845059.0
268             LSU  1230840.0
271  Michigan State  9638555.0
273             USC        NaN
274  North Carolina  5464000.0
('Memphis Grizzlies', 'PG')                Name               Team  Number Position   Age Height  Weight  \
262     Mike Conley  Memphis Grizzlies    11.0       PG  28.0    6-1   175.0
263    Bryce Cotton  Memphis Grizzlies     8.0       PG  23.0    6-1   165.0
264   Jordan Farmar  Memphis Grizzlies     4.0       PG  29.0    6-2   180.0
269    Ray McCallum  Memphis Grizzlies     5.0       PG  24.0    6-3   190.0
270  Xavier Munford  Memphis Grizzlies    14.0       PG  24.0    6-3   180.0

          College     Salary
262    Ohio State  9588426.0
263    Providence   700902.0
264          UCLA        NaN
269       Detroit        NaN
270  Rhode Island        NaN
('Memphis Grizzlies', 'SF')                  Name               Team  Number Position   Age Height  \
260       Matt Barnes  Memphis Grizzlies    22.0       SF  36.0    6-7
267     P.J. Hairston  Memphis Grizzlies    19.0       SF  23.0    6-6
272  Lance Stephenson  Memphis Grizzlies     1.0       SF  25.0    6-5

     Weight         College     Salary
260   226.0            UCLA  3542500.0
267   230.0  North Carolina  1201440.0
272   230.0      Cincinnati  9000000.0
('Memphis Grizzlies', 'SG')              Name               Team  Number Position   Age Height  Weight  \
257  Jordan Adams  Memphis Grizzlies     3.0       SG  21.0    6-5   209.0
258    Tony Allen  Memphis Grizzlies     9.0       SG  34.0    6-4   213.0
261  Vince Carter  Memphis Grizzlies    15.0       SG  39.0    6-6   220.0

            College     Salary
257            UCLA  1404600.0
258  Oklahoma State  5158539.0
261  North Carolina  4088019.0
('Miami Heat', 'C')                  Name        Team  Number Position   Age Height  Weight  \
351  Hassan Whiteside  Miami Heat    21.0        C  26.0    7-0   265.0

      College    Salary
351  Marshall  981348.0
('Miami Heat', 'PF')                   Name        Team  Number Position   Age Height  Weight  \
339         Chris Bosh  Miami Heat     1.0       PF  32.0   6-11   235.0
343      Udonis Haslem  Miami Heat    40.0       PF  36.0    6-8   235.0
346     Josh McRoberts  Miami Heat     4.0       PF  29.0   6-10   240.0
348  Amar'e Stoudemire  Miami Heat     5.0       PF  33.0   6-10   245.0

          College      Salary
339  Georgia Tech  22192730.0
343       Florida   2854940.0
346          Duke   5543725.0
348           NaN    947276.0
('Miami Heat', 'PG')               Name        Team  Number Position   Age Height  Weight  \
341   Goran Dragic  Miami Heat     7.0       PG  30.0    6-3   190.0
350  Briante Weber  Miami Heat    12.0       PG  23.0    6-2   165.0

                   College      Salary
341                    NaN  14783000.0
350  Virginia Commonwealth         NaN
('Miami Heat', 'SF')                 Name        Team  Number Position   Age Height  Weight  \
340        Luol Deng  Miami Heat     9.0       SF  31.0    6-9   220.0
342     Gerald Green  Miami Heat    14.0       SF  30.0    6-7   205.0
344      Joe Johnson  Miami Heat     2.0       SF  34.0    6-7   240.0
352  Justise Winslow  Miami Heat    20.0       SF  20.0    6-7   225.0
353    Dorell Wright  Miami Heat    11.0       SF  30.0    6-9   205.0

      College      Salary
340      Duke  10151612.0
342       NaN    947276.0
344  Arkansas    261894.0
352      Duke   2481720.0
353       NaN         NaN
('Miami Heat', 'SG')                 Name        Team  Number Position   Age Height  Weight  \
345    Tyler Johnson  Miami Heat     8.0       SG  24.0    6-4   186.0
347  Josh Richardson  Miami Heat     0.0       SG  22.0    6-6   200.0
349      Dwyane Wade  Miami Heat     3.0       SG  34.0    6-4   220.0

          College      Salary
345  Fresno State    845059.0
347     Tennessee    525093.0
349     Marquette  20000000.0
('Milwaukee Bucks', 'C')               Name             Team  Number Position   Age Height  Weight  \
220    Greg Monroe  Milwaukee Bucks    15.0        C  26.0   6-11   265.0
224  Miles Plumlee  Milwaukee Bucks    18.0        C  27.0   6-11   249.0

        College      Salary
220  Georgetown  16407500.0
224        Duke   2109294.0
('Milwaukee Bucks', 'PF')                     Name             Team  Number Position   Age Height  \
216          John Henson  Milwaukee Bucks    31.0       PF  25.0   6-11
222  Johnny O'Bryant III  Milwaukee Bucks    77.0       PF  23.0    6-9
223        Jabari Parker  Milwaukee Bucks    12.0       PF  21.0    6-8

     Weight         College     Salary
216   229.0  North Carolina  2943221.0
222   257.0             LSU   845059.0
223   250.0            Duke  5152440.0
('Milwaukee Bucks', 'PG')                         Name             Team  Number Position   Age Height  \
212           Jerryd Bayless  Milwaukee Bucks    19.0       PG  27.0    6-3
213  Michael Carter-Williams  Milwaukee Bucks     5.0       PG  24.0    6-6
215              Tyler Ennis  Milwaukee Bucks    11.0       PG  21.0    6-3
225          Greivis Vasquez  Milwaukee Bucks    21.0       PG  29.0    6-6

     Weight   College     Salary
212   200.0   Arizona  3000000.0
213   190.0  Syracuse  2399040.0
215   194.0  Syracuse  1662360.0
225   217.0  Maryland  6600000.0
('Milwaukee Bucks', 'SF')                       Name             Team  Number Position   Age Height  \
211  Giannis Antetokounmpo  Milwaukee Bucks    34.0       SF  21.0   6-11
217          Damien Inglis  Milwaukee Bucks    17.0       SF  21.0    6-8
221            Steve Novak  Milwaukee Bucks     6.0       SF  32.0   6-10

     Weight    College     Salary
211   222.0        NaN  1953960.0
217   246.0        NaN   855000.0
221   225.0  Marquette   295327.0
('Milwaukee Bucks', 'SG')                  Name             Team  Number Position   Age Height  Weight  \
214  Jared Cunningham  Milwaukee Bucks     9.0       SG  25.0    6-4   195.0
218         O.J. Mayo  Milwaukee Bucks     3.0       SG  28.0    6-5   210.0
219   Khris Middleton  Milwaukee Bucks    22.0       SG  24.0    6-8   234.0
226     Rashad Vaughn  Milwaukee Bucks    20.0       SG  19.0    6-6   202.0

          College      Salary
214  Oregon State    947276.0
218           USC   8000000.0
219     Texas A&M  14700000.0
226          UNLV   1733040.0
('Minnesota Timberwolves', 'C')                    Name                    Team  Number Position   Age Height  \
399        Gorgui Dieng  Minnesota Timberwolves     5.0        C  26.0   6-11
405      Nikola Pekovic  Minnesota Timberwolves    14.0        C  30.0   6-11
410  Karl-Anthony Towns  Minnesota Timberwolves    32.0        C  20.0    7-0

     Weight     College      Salary
399   241.0  Louisville   1474440.0
405   307.0         NaN  12100000.0
410   244.0    Kentucky   5703600.0
('Minnesota Timberwolves', 'PF')                 Name                    Team  Number Position   Age Height  \
398  Nemanja Bjelica  Minnesota Timberwolves    88.0       PF  28.0   6-10
400    Kevin Garnett  Minnesota Timberwolves    21.0       PF  40.0   6-11
404    Adreian Payne  Minnesota Timberwolves    33.0       PF  25.0   6-10
409       Greg Smith  Minnesota Timberwolves     4.0       PF  25.0   6-10

     Weight         College     Salary
398   240.0             NaN  3950001.0
400   240.0             NaN  8500000.0
404   237.0  Michigan State  1938840.0
409   250.0    Fresno State        NaN
('Minnesota Timberwolves', 'PG')             Name                    Team  Number Position   Age Height  \
401   Tyus Jones  Minnesota Timberwolves     1.0       PG  20.0    6-2
402  Zach LaVine  Minnesota Timberwolves     8.0       PG  21.0    6-5
407  Ricky Rubio  Minnesota Timberwolves     9.0       PG  25.0    6-4

     Weight College      Salary
401   195.0    Duke   1282080.0
402   189.0    UCLA   2148360.0
407   194.0     NaN  12700000.0
('Minnesota Timberwolves', 'SF')                  Name                    Team  Number Position   Age Height  \
403  Shabazz Muhammad  Minnesota Timberwolves    15.0       SF  23.0    6-6
406   Tayshaun Prince  Minnesota Timberwolves    12.0       SF  36.0    6-9
408      Damjan Rudez  Minnesota Timberwolves    10.0       SF  29.0    6-9

     Weight   College     Salary
403   223.0      UCLA  2056920.0
406   212.0  Kentucky   947276.0
408   230.0       NaN  1149500.0
('Minnesota Timberwolves', 'SG')                Name                    Team  Number Position   Age Height  \
411  Andrew Wiggins  Minnesota Timberwolves    22.0       SG  21.0    6-8

     Weight College     Salary
411   199.0  Kansas  5758680.0
('New Orleans Pelicans', 'C')                  Name                  Team  Number Position   Age Height  \
275     Alexis Ajinca  New Orleans Pelicans    42.0        C  28.0    7-2
277         Omer Asik  New Orleans Pelicans     3.0        C  29.0    7-0
292  Kendrick Perkins  New Orleans Pelicans     5.0        C  31.0   6-10

     Weight College     Salary
275   248.0     NaN  4389607.0
277   255.0     NaN  9213483.0
292   270.0     NaN   947276.0
('New Orleans Pelicans', 'PF')                  Name                  Team  Number Position   Age Height  \
276     Ryan Anderson  New Orleans Pelicans    33.0       PF  28.0   6-10
280  Dante Cunningham  New Orleans Pelicans    44.0       PF  29.0    6-8
281     Anthony Davis  New Orleans Pelicans    23.0       PF  23.0   6-10

     Weight     College     Salary
276   240.0  California  8500000.0
280   230.0   Villanova  2850000.0
281   253.0    Kentucky  7070730.0
('New Orleans Pelicans', 'PG')               Name                  Team  Number Position   Age Height  \
279    Norris Cole  New Orleans Pelicans    30.0       PG  27.0    6-2
283  Toney Douglas  New Orleans Pelicans    16.0       PG  30.0    6-2
286    Tim Frazier  New Orleans Pelicans     2.0       PG  25.0    6-1
290   Jrue Holiday  New Orleans Pelicans    11.0       PG  25.0    6-4

     Weight          College      Salary
279   175.0  Cleveland State   3036927.0
283   195.0    Florida State   1164858.0
286   170.0       Penn State    845059.0
290   205.0             UCLA  10595507.0
('New Orleans Pelicans', 'SF')                  Name                  Team  Number Position   Age Height  \
278      Luke Babbitt  New Orleans Pelicans     8.0       SF  26.0    6-9

('Sacramento Kings', 'SF')              Name              Team  Number Position   Age Height  Weight  \
136    Quincy Acy  Sacramento Kings    13.0       SF  25.0    6-7   240.0
139  Caron Butler  Sacramento Kings    31.0       SF  36.0    6-7   228.0
140   Omri Casspi  Sacramento Kings    18.0       SF  27.0    6-9   225.0
146      Rudy Gay  Sacramento Kings     8.0       SF  29.0    6-8   230.0

         College      Salary
136       Baylor    981348.0
139  Connecticut   1449187.0
140          NaN   2836186.0
146  Connecticut  12403101.0
('Sacramento Kings', 'SG')                 Name              Team  Number Position   Age Height  Weight  \
137   James Anderson  Sacramento Kings     5.0       SG  27.0    6-6   213.0
138  Marco Belinelli  Sacramento Kings     3.0       SG  30.0    6-5   210.0
144       Seth Curry  Sacramento Kings    30.0       SG  25.0    6-2   185.0
148     Ben McLemore  Sacramento Kings    23.0       SG  23.0    6-5   195.0

            College     Salary
137  Oklahoma State  1015421.0
138             NaN  6060606.0
144            Duke   947276.0
148          Kansas  3156600.0
('San Antonio Spurs', 'C')                  Name               Team  Number Position   Age Height  \
296       Matt Bonner  San Antonio Spurs    15.0        C  36.0   6-10
297        Boris Diaw  San Antonio Spurs    33.0        C  34.0    6-8
298        Tim Duncan  San Antonio Spurs    21.0        C  40.0   6-11
302  Boban Marjanovic  San Antonio Spurs    40.0        C  27.0    7-3

     Weight      College     Salary
296   235.0      Florida   947276.0
297   250.0          NaN  7500000.0
298   250.0  Wake Forest  5250000.0
302   290.0          NaN  1200000.0
('San Antonio Spurs', 'PF')                   Name               Team  Number Position   Age Height  \
294  LaMarcus Aldridge  San Antonio Spurs    12.0       PF  30.0   6-11
308         David West  San Antonio Spurs    30.0       PF  35.0    6-9

     Weight College      Salary
294   240.0   Texas  19689000.0
308   250.0  Xavier   1499187.0
('San Antonio Spurs', 'PG')              Name               Team  Number Position   Age Height  Weight  \
304  Andre Miller  San Antonio Spurs    24.0       PG  40.0    6-3   200.0
305   Patty Mills  San Antonio Spurs     8.0       PG  27.0    6-0   185.0
306   Tony Parker  San Antonio Spurs     9.0       PG  34.0    6-2   185.0

          College      Salary
304          Utah    250750.0
305  Saint Mary's   3578947.0
306           NaN  13437500.0
('San Antonio Spurs', 'SF')               Name               Team  Number Position   Age Height  Weight  \
295  Kyle Anderson  San Antonio Spurs     1.0       SF  22.0    6-9   230.0
301  Kawhi Leonard  San Antonio Spurs     2.0       SF  24.0    6-7   230.0

             College      Salary
295             UCLA   1142880.0
301  San Diego State  16407500.0
('San Antonio Spurs', 'SG')                  Name               Team  Number Position   Age Height  \
299     Manu Ginobili  San Antonio Spurs    20.0       SG  38.0    6-6
300       Danny Green  San Antonio Spurs    14.0       SG  28.0    6-6
303      Kevin Martin  San Antonio Spurs    23.0       SG  33.0    6-7
307  Jonathon Simmons  San Antonio Spurs    17.0       SG  26.0    6-6

     Weight           College      Salary
299   205.0               NaN   2814000.0
300   215.0    North Carolina  10000000.0
303   199.0  Western Carolina    200600.0
307   195.0           Houston    525093.0
('Toronto Raptors', 'C')                  Name             Team  Number Position   Age Height  Weight  \
61    Bismack Biyombo  Toronto Raptors     8.0        C  23.0    6-9   245.0
68     Lucas Nogueira  Toronto Raptors    92.0        C  23.0    7-0   220.0
74  Jonas Valanciunas  Toronto Raptors    17.0        C  24.0    7-0   255.0

   College     Salary
61     NaN  2814000.0
68     NaN  1842000.0
74     NaN  4660482.0
('Toronto Raptors', 'PF')                  Name             Team  Number Position   Age Height  Weight  \
65      James Johnson  Toronto Raptors     3.0       PF  29.0    6-9   250.0
69  Patrick Patterson  Toronto Raptors    54.0       PF  27.0    6-9   235.0
72         Luis Scola  Toronto Raptors     4.0       PF  36.0    6-9   240.0
73     Jason Thompson  Toronto Raptors     1.0       PF  29.0   6-11   250.0

        College     Salary
65  Wake Forest  2500000.0
69     Kentucky  6268675.0
72          NaN  2900000.0
73        Rider   245177.0
('Toronto Raptors', 'PG')             Name             Team  Number Position   Age Height  Weight  \
66   Cory Joseph  Toronto Raptors     6.0       PG  24.0    6-3   190.0
67    Kyle Lowry  Toronto Raptors     7.0       PG  30.0    6-0   205.0
75  Delon Wright  Toronto Raptors    55.0       PG  24.0    6-5   190.0

      College      Salary
66      Texas   7000000.0
67  Villanova  12000000.0
75       Utah   1509360.0
('Toronto Raptors', 'SF')                Name             Team  Number Position   Age Height  Weight  \
62    Bruno Caboclo  Toronto Raptors    20.0       SF  20.0    6-9   205.0
63  DeMarre Carroll  Toronto Raptors     5.0       SF  29.0    6-8   212.0
71    Terrence Ross  Toronto Raptors    31.0       SF  25.0    6-7   195.0

       College      Salary
62         NaN   1524000.0
63    Missouri  13600000.0
71  Washington   3553917.0
('Toronto Raptors', 'SG')              Name             Team  Number Position   Age Height  Weight  \
64  DeMar DeRozan  Toronto Raptors    10.0       SG  26.0    6-7   220.0
70  Norman Powell  Toronto Raptors    24.0       SG  23.0    6-4   215.0

   College      Salary
64     USC  10050000.0
70    UCLA    650000.0
('Utah Jazz', 'C')              Name       Team  Number Position   Age Height  Weight College  \
447   Rudy Gobert  Utah Jazz    27.0        C  23.0    7-1   245.0     NaN
455  Tibor Pleiss  Utah Jazz    21.0        C  26.0    7-3   256.0     NaN
456   Jeff Withey  Utah Jazz    24.0        C  26.0    7-0   231.0  Kansas

        Salary
447  1175880.0
455  2900000.0
456   947276.0
('Utah Jazz', 'PF')                Name       Team  Number Position   Age Height  Weight  \
442   Trevor Booker  Utah Jazz    33.0       PF  28.0    6-8   228.0
446  Derrick Favors  Utah Jazz    15.0       PF  24.0   6-10   265.0
452      Trey Lyles  Utah Jazz    41.0       PF  20.0   6-10   234.0

          College      Salary
442       Clemson   4775000.0
446  Georgia Tech  12000000.0
452      Kentucky   2239800.0
('Utah Jazz', 'PG')              Name       Team  Number Position   Age Height  Weight   College  \
443    Trey Burke  Utah Jazz     3.0       PG  23.0    6-1   191.0  Michigan
445    Dante Exum  Utah Jazz    11.0       PG  20.0    6-6   190.0       NaN
453  Shelvin Mack  Utah Jazz     8.0       PG  26.0    6-3   203.0    Butler
454     Raul Neto  Utah Jazz    25.0       PG  24.0    6-1   179.0       NaN

        Salary
443  2658240.0
445  3777720.0
453  2433333.0
454   900000.0
('Utah Jazz', 'SF')                Name       Team  Number Position   Age Height  Weight College  \
448  Gordon Hayward  Utah Jazz    20.0       SF  26.0    6-8   226.0  Butler
450      Joe Ingles  Utah Jazz     2.0       SF  28.0    6-8   226.0     NaN
451   Chris Johnson  Utah Jazz    23.0       SF  26.0    6-6   206.0  Dayton

         Salary
448  15409570.0
450   2050000.0
451    981348.0
('Utah Jazz', 'SG')             Name       Team  Number Position   Age Height  Weight   College  \
444   Alec Burks  Utah Jazz    10.0       SG  24.0    6-6   214.0  Colorado
449  Rodney Hood  Utah Jazz     5.0       SG  23.0    6-8   206.0      Duke

        Salary
444  9463484.0
449  1348440.0
('Washington Wizards', 'C')               Name                Team  Number Position   Age Height  Weight  \
373  Marcin Gortat  Washington Wizards    13.0        C  32.0   6-11   240.0
374     JJ Hickson  Washington Wizards    21.0        C  27.0    6-9   242.0
375   Nene Hilario  Washington Wizards    42.0        C  33.0   6-11   250.0

                  College      Salary
373                   NaN  11217391.0
374  North Carolina State    273038.0
375                   NaN  13000000.0
('Washington Wizards', 'PF')                 Name                Team  Number Position   Age Height  \
372      Drew Gooden  Washington Wizards    90.0       PF  34.0   6-10
376  Markieff Morris  Washington Wizards     5.0       PF  26.0   6-10

     Weight College     Salary
372   250.0  Kansas  3300000.0
376   245.0  Kansas  8000000.0
('Washington Wizards', 'PG')                Name                Team  Number Position   Age Height  Weight  \
379  Ramon Sessions  Washington Wizards     7.0       PG  30.0    6-3   190.0
382       John Wall  Washington Wizards     2.0       PG  25.0    6-4   195.0

      College      Salary
379    Nevada   2170465.0
382  Kentucky  15851950.0
('Washington Wizards', 'SF')                 Name                Team  Number Position   Age Height  \
370     Jared Dudley  Washington Wizards     1.0       SF  30.0    6-7
377  Kelly Oubre Jr.  Washington Wizards    12.0       SF  20.0    6-7
378  Otto Porter Jr.  Washington Wizards    22.0       SF  23.0    6-8
381  Marcus Thornton  Washington Wizards    15.0       SF  29.0    6-4

     Weight         College     Salary
370   225.0  Boston College  4375000.0
377   205.0          Kansas  1920240.0
378   198.0      Georgetown  4662960.0
381   205.0             LSU   200600.0
('Washington Wizards', 'SG')                Name                Team  Number Position   Age Height  Weight  \
368   Alan Anderson  Washington Wizards     6.0       SG  33.0    6-6   220.0
369    Bradley Beal  Washington Wizards     3.0       SG  22.0    6-5   207.0
371    Jarell Eddie  Washington Wizards     8.0       SG  24.0    6-7   218.0
380  Garrett Temple  Washington Wizards    17.0       SG  30.0    6-6   195.0

            College     Salary
368  Michigan State  4000000.0
369         Florida  5694674.0
371   Virginia Tech   561716.0
380             LSU  1100602.0

In [15]:
grp2.get_group(('Atlanta Hawks', 'SG'))

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
310,Tim Hardaway Jr.,Atlanta Hawks,10.0,SG,24.0,6-6,205.0,Michigan,1304520.0
311,Kirk Hinrich,Atlanta Hawks,12.0,SG,35.0,6-4,190.0,Kansas,2854940.0
314,Kyle Korver,Atlanta Hawks,26.0,SG,35.0,6-7,212.0,Creighton,5746479.0
317,Lamar Patterson,Atlanta Hawks,13.0,SG,24.0,6-5,225.0,Pittsburgh,525093.0

# rename columns of dataframe

In [ ]:
dm1

In [ ]:
dm1.rename(columns={'key':'name'}, inplace= True)
dm1

In [ ]:
dm1.rename(columns={'name':'names','col_1':'data'}, inplace=True)
dm1

In [ ]:
d = dict.fromkeys('abcd')

In [ ]:
d

In [ ]:
d['a'] = 100

In [ ]:
d